npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

node_modules/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnpm-store/

.env
.env.local
.env.development
.env.test
.env.production
.env*.local

coverage
instrumented
cypress.env.json

/dist/
/build/
/out/
.next/
.nuxt/
.serverless/
/.vercel
/.svelte-kit


.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
 
 
.eslintignore
